apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-cluster
  namespace: rook-ceph
spec:
  valuesFrom:
  - kind: ConfigMap
    name: rook-ceph-cluster-values
    valuesKey: values.yaml
