toolbox:
  enabled: true
monitoring:
  enabled: true
pspEnable: false
cephClusterSpec:
  mon:
    count: 1
    allowMultiplePerNode: true
  placement:
    all:
      tolerations:
        - key: node-role.kubernetes.io/master
          operator: Exists
          effect: NoSchedule
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: NoSchedule
  dashboard:
    enabled: true
  storage:
    useAllNodes: true
    useAllDevices: false
    deviceFilter: "^vdb$"
cephBlockPools:
  - name: replicapool
    spec:
      failureDomain: host
      replicated:
        size: 1
        requireSafeReplicaSize: false
    storageClass:
      enabled: true
      name: rook-ceph-block
      isDefault: true
      allowVolumeExpansion: true
      reclaimPolicy: Delete
      volumeBindingMode: Immediate
