apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: grafana-route
  namespace: monitoring
spec:
  parentRefs:
    - name: edge-gateway
      namespace: kgateway-system
  hostnames:
    - grafana.oryzasa.site
  rules:
    - backendRefs:
        - name: kube-prometheus-stack-grafana
          port: 80
