apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cnpg
  namespace: database
spec:
  interval: 10m
  releaseName: cnpg
  targetNamespace: database
  chart:
    spec:
      chart: rook-ceph-cluster
      version: v1.18.8
      sourceRef:
        kind: HelmRepository
        name: rook-ceph
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
