tunnel: cfx-tunnel
credentials-file: /etc/cloudflared/creds/credentials.json
ingress:
  - hostname: "*.oryzasa.site"
    service: http://edge-gateway.kgateway-system.svc.cluster.local:80
    originRequest:
      noTLSVerify: true
      originServerName: "*.oryzasa.site"
      logHeaders: true
      headers:
        - name: CF-Connecting-IP
        - name: X-Real-IP
        - name: CF-IPCountry
        - name: CF-Ray
        - name: CF-Visitor
        - name: CF-Device-Type
        - name: CF-IPCITY
        - name: CF-IPCONTINENT
        - name: CF-IPLATITUDE
        - name: CF-IPLONGITUDE
        - name: CF-IPREGION
        - name: X-Forwarded-For
        - name: Accept-Language
        - name: User-Agent
        - name: True-Client-IP
        - name: CF-IPCountry
        - name: CF-RAY
        - name: CF-Worker
        - name: CF-Client-Bot
        - name: CF-Bot-Score
        - name: CF-Challenge
        - name: CF-Bot-Management-Tag
  - service: http_status:404
