apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: cloudflared
resources:
  - ../../../base/cloudflared
  - secret.yaml
configMapGenerator:
  - name: cloudflared-config
    files:
      - config.yaml
generatorOptions:
  disableNameSuffixHash: true
