apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: harbor
  namespace: harbor
spec:
  interval: 30m
  chart:
    spec:
      chart: harbor
      version: v1.18.0
      sourceRef:
        kind: HelmRepository
        name: harbor
        namespace: flux-system
  values:
    existingSecretAdminPassword: harbor-admin-secret
    existingSecretAdminPasswordKey: HARBOR_ADMIN_PASSWORD
