receivers:
  otlp:
    protocols:
      http:
        endpoint: 0.0.0.0:4318
      grpc:
        endpoint: 0.0.0.0:4317
  prometheus:
    config:
      scrape_configs:
        - job_name: nodejs-app
          metrics_path: /metrics
          static_configs:
            - targets: ["nodejs-app:3000"]
        - job_name: go-app
          metrics_path: /metrics
          static_configs:
            - targets: ["go-app:3000"]

processors:
  batch: {}

exporters:
  logging:
    loglevel: warn
  prometheus:
    endpoint: 0.0.0.0:9464

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [logging]
    metrics:
      receivers: [otlp, prometheus]
      processors: [batch]
      exporters: [prometheus]
