apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-operator
  namespace: rook-ceph
spec:
  interval: 10m
  releaseName: rook-ceph-operator
  targetNamespace: rook-ceph
  chart:
    spec:
      chart: rook-ceph
      version: v1.18.8
      sourceRef:
        kind: HelmRepository
        name: rook-ceph
        namespace: flux-system
  install:
    createNamespace: false
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
  values:
    crds:
      enabled: true
    pspEnable: false
    csi:
      enableRbd: true
      enableCephfs: true
      kubeletDirPath: /var/lib/rancher/k3s/agent/kubelet
