apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-cluster
  namespace: rook-ceph
spec:
  interval: 10m
  dependsOn:
  - name: rook-ceph-operator
    namespace: rook-ceph
  releaseName: rook-ceph-cluster
  targetNamespace: rook-ceph
  chart:
    spec:
      chart: rook-ceph-cluster
      version: v1.18.8
      sourceRef:
        kind: HelmRepository
        name: rook-ceph
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    remediation:
      retries: 3
