version: "3.9"

services:
  go-app:
    build:
      context: ./go-app
      dockerfile: Containerfile
    ports:
      - "3002:3000"
    environment:
      - PORT=3000
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318/v1/traces
    depends_on:
      - otel-collector
